@page
@model BakeryShop.Pages.OrderSuccessModel
@{
}
<ol id="orderProcess" class="d-flex justify-content-around">
    <li>
        <span class="step-number">1</span>Choose Item
    </li>
    <li>
        <span class="step-number">2</span>Details and Submit
    </li>
    <li class="current">
        <span class="step-number">3</span>Receipt
    </li>
</ol>

<h2>Order has been Confirmed</h2>

<div>
    <h2>Thank you for your order!</h2>
    <p>We are Processing your order and We sent a confirmation email.</p>
    <br />
    Thanks for your time!
</div>